*{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

:root{
  --red: #c20f12;
  --yellow: #efc21e;
  --white: #fff;
}
body {
  background-image: url(./img/bg-produtos.png);
  color: var(--white);
}

h1 {
    margin-right: 5%;
    color: var(--red);
}

input {
    height: 3rem;
    width: 100%;
    border-radius: 1rem;

}

#send {
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--red);
  border: none;
  color: #f1f1f1;
  font-size: 1.5rem;
  cursor: pointer;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
header {
    margin: 0;
    width: 100%;
    background-color: var(--yellow);
    padding: 0.5rem;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.menuIcon {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--red);
    margin: 6px 0;
    transition: 0.2s;
  }
  
.headerWhrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.filterProductsWhrapper{
    display: flex;
    justify-content: space-around;
}

.description {
    margin-top: 3rem;
    text-align: center;
}

.description img{
  max-width: 100%;
}

.filterProductsWhrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.cardapio {
    margin-top: 3rem;
       
}

/* pratos */
.imageItem img {
  max-width: 20rem;
  max-height: 20rem;
} 

.titleItemWhrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}

.containerItem{
    margin: 1rem;
    border-bottom: solid 1px black ;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 1rem;
}

footer {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: red;
    padding: 0.5rem;
}

.footerWhrapper{
    display: flex;
    justify-content: space-evenly;
}